<form method="post" action="{{ path('calendar_delete', {'id': calendar.id}) }}" onsubmit="return confirm('Etes-vous sûre de supprimer l\élement ?');">

    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calendar.id) }}">
    <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
</form>
