{% extends 'base.html.twig' %}

{% block title %}Modification du calendrier JhadBeauty{% endblock %}

{% block body %}
    <h1>Modification du calandrier</h1>

    {{ include('calendar/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('calendar/_delete_form.html.twig') }}
<a class="btn btn-sm" href="{{ path('calendar_index') }}">retour à la liste</a>
{% endblock %}
