{% extends 'base.html.twig' %}

{% block body %}
<h1 class="re text-center">POLITIQUE DE RESERVATION</h1>
<br>
<br>
<div class="res">

<h2>Annulations</h2>


<p>Nous vous demanderons de payer un acompte au moment de votre prise de RDV. L’acompte payé sera automatiquement déduit du montant final au moment du paiement. <br><B>Attention </B> les rdv sont annulables et modifiables à 100% jusqu'à 24 heures avant votre rdv. Passé ce délai, l'acompte est encaissé et ne peut être réutilisé ultérieurement. Les réservations faites le jour-même ne sont ni annulables ni remboursables.</p>

<h5>Changement de date de rendez-vous</h5>

<p>Si vous reportez le rendez-vous moins de 24 heures avant l’heure de rendez-vous prévue, nous conservons les acomptes payés. Ceux-ci ne pourront être reportés.</p>

<h5>No-Show</h5>

<p>Le fait de ne pas se présenter à votre rendez-vous sans le reporter/annuler est soumis à des frais d'annulation de 100 %. Un retard de plus de 15 minutes est considéré comme une annulation de votre rendez-vous; l’intégralité du service demandé doit être acquitté.</p>

<h5>Durée de la prestation</h5>

<p>Nous ferons tout notre possible pour maintenir vos réservations, mais si nous estimons qu'il ne sera pas possible de maintenir notre niveau de qualité dans le temps restant de votre réservation, nous prendrons un nouveau rendez-vous dès que possible (sous réserve de la politique de report). Nous voulons assurer un service de qualité à tous nos clients. Les clients qui arrivent en retard risquent de priver les clients suivants de ce service de qualité, c'est pourquoi nous insistons vraiment pour que vous arriviez à l'heure à votre rendez-vous.</p>

<h5>Notre garantie de qualité</h5>

<p>Nos manucures en gel sont garanties pendant 7 jours ouvrables après votre premier rendez-vous. Tout dommage aux ongles imputable aux actes du client n'est pas couvert par cette garantie. Si vous constatez des éraflures ou des décollements au cours des 7 premiers jours, veuillez nous envoyer un SMS et une photo de vos ongles afin de planifier une réparation gratuite. Les réparations après 7 jours ou pour des fissures, des éclats et d'autres dommages sont payables, à partir de 10€, en fonction de l'état du ou des clous endommagés et de l'ampleur des réparations.</p>

</div>


{% endblock %}

{% block title %}

{% endblock %}

