{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="po text-center">POLITIQUE DE CONFIDENTIALITE</h1>

    <div class="pol m-4" style="color:black">
         <h5>En utilisant le site Web du Salon Jade Beauty (ci-après le « Site ») et/ou en commandant des services chez nous, vous acceptez cette politique de confidentialité (la « Politique de confidentialité »). <h5>

        <h4> LES DONNÉES COLLECTÉES </h4>
       
        Nous collectons les données suivantes :
        <ul>
        <li>-	votre nom de famille</li>
        <li>-	prénom</li>
        <li>-	adresse e-mail</li>
        <li>-	numéro de téléphone</li>
        <li>-	Adresse postale</li>
        <li>-	données de paiement</li>
        <li>-	L'historique de vos commandes avec nous</li>
        </ul>
       <h4> BUTS DE LA COLLECTE</h4>
        Nous collectons ces données pour :
        <ul>
        <li>-	Vous fournir les services ou informations demandés;</li>
        <li>-	Vous tenir au courant de nos services et partagez vos offres promotionnelles</li>
        <li>-	Traiter les paiements</li>
        <li>-	Améliorer nos services et vous offrir une meilleure expérience</li>
       <li> -	Gardez une trace de l'historique de vos commandes</li>
       <li> -	Vous proposez les services / couleurs / techniques les plus adaptés pour vous et vos goûts</li>
        Nous pouvons partager vos données avec des fournisseurs de services tiers qui nous aident à vous fournir nos services. Comme SumUP  (logiciel de comptabilité) ou wix  (création de site web). Cependant, nous ne partageons pas vos données à d'autres fins que de nous permettre de vous fournir nos services, notamment à des fins de marketing.
        Nous pouvons également divulguer vos données lorsque la loi l'exige ou si nous croyons qu'une telle mesure est nécessaire pour se conformer à la loi et aux demandes raisonnables des autorités ou pour protéger la sécurité ou l'intégrité de notre service ou faire valoir nos droits.
        Stockage
        Nous stockons vos informations tant que vous continuez à utiliser nos services. Si vous cessez d'utiliser nos services, nous vous supprimerons vos données, à l'exception des informations comptables que nous conserverons pendant une période de 3 ans.</li>
        </ul>
         <h4>VOS DROITS</h4>
      Vous avez le droit de :
        <ul>
        <li> -	Accéder à vos données</li>
         <li>-	Rectifier vos données</li>
         <li>-	Supprimer vos données dans les limites légales (Notez que si votre demande nous empêche de vous servir en toute sécurité ou d'effectuer des aspects obligatoires de notre travail, nous pouvons nous retrouver dans une position où nous ne sommes pas en mesure de vous servir)</li>
         <li>- restreindre le traitement de vos données (Notez que si votre demande nous empêche de vous servir en toute sécurité ou d'effectuer des aspects obligatoires de notre travail, nous pouvons nous retrouver dans une position où nous ne sommes pas en mesure de vous servir)</li>
         <li>-	le droit à la portabilité de vos données</li>

       <p> Nous n'utilisons pas d'algorithmes de prise de décision automatisés.
        Vous pouvez exercer vos droits en contactant Salon Jade Beauty par e-mail à l'adresse suivante : contact@JadeBeauty.fr ou par la poste à l'adresse suivante : 10 rue du Chêne, Saint-Nazaire, 44600.</p>


       <p> Vous avez le droit de déposer une réclamation auprès de la CNIL (Commission Nationale  de  l'Informatique  et des  Libertés).</p>
    </div>
{% endblock %}

{% block title %}

{% endblock %}
