{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="cg">CONDITIONS GENERALES D'UTILISATION</h1>
    <br>
    <br>
    <div class="cgu">

        Le site accessible à l'adresse https://jhad beauty.fr (ci-après : le « Site ») a été publié par KALANCHOE, une Société par action Simplifiée avec associé unique (SIRET 85315796400018), dont le siège social est au 20 rue Beaubourg 75004 Paris, Île de France (FRANCE); numéro de téléphone +33 7 81 90 41 84 (ci-après appelé "Salon Jhad Beauty").

        Propriétaire du site : Tomoka Nakajima.

        En accédant et en navigant sur le Site vous déclarer accepter sans réserve les CGUV.

        PRESTATIONS & RESERVATIONS

        Les prestations sont fournies au salon Jhad Beauty.fr au 20 rue Beaubourg.

        Vous pouvez être amené à verser un dépôt pour garantir votre demande de prestation. Si vous annulez ou déplacez moins de 24 heures à l’avance, nous pouvons conserver ce dépôt.

        En cas d’empêchement, vous vous engagez à nous en informer immédiatement par message ou email.

        Effets de rétractation

        En cas de rétractation de votre commande de votre part. Nous vous rembourserons tous les paiements reçus de vous relatifs à cette commande, y compris les frais de livraison (à l'exception des frais supplémentaires découlant du fait que vous avez choisi, le cas échéant, un mode de livraison autre que le mode moins coûteux de livraison standard proposé par nous) sans retard excessif et, en tout état de cause, au plus tard 14 jours à compter du jour où nous sommes informés de votre décision de rétractation du présent contrat.

        Nous procéderons au remboursement en utilisant le même moyen de paiement que celui que vous aurez utilisé pour la transaction initiale, sauf si vous convenez expressément d'un moyen différent ; en tout état de cause, ce remboursement n'occasionnera pas de frais pour vous.

        Nous pouvons différer le remboursement jusqu'à ce que nous ayons reçu le bien ou en retour jusqu'à ce que vous ayez fourni une preuve d'expédition du bien, la date retenue étant celle du premier de ces faits. Aucun remboursement ne peut avoir lieu si le bien nous est retourné endommagé où utilisé ou, en règle générale, s’il ne nous est pas renvoyé dans son état initial.

        Vous devrez renvoyer ou rendre le bien, à nous-mêmes sans retard excessif et, en tout état de cause, au plus tard 14 jours après que vous nous aurez communiqué votre décision de rétractation de la commande concernée. Ce délai est réputé respecté si vous renvoyez le bien avant l'expiration du délai de 14 jours.

        Vous devrez prendre en charge les frais directs de renvoi du bien.

        Votre responsabilité n'est engagée qu'à l'égard de la dépréciation du bien résultant de manipulations autres que celles nécessaires pour établir la nature, les caractéristiques et le bon fonctionnement de ce bien.

        PROPRIÉTÉ INTELLECTUELLE

        Le Site dans son ensemble, combiné à chacun des éléments qui le composent (en particulier, images, textes, animations, images, photographies, illustrations, vidéos, graphiques et/ou logos, etc.) (« Droits de propriété intellectuelle ») est  protégé par le Code de la propriété intellectuelle ainsi que par toutes les autres législations applicables.

        Vous n’êtes pas autorisé à utiliser les Droits de propriété intellectuelle sans autorisation écrite préalable officielle du Salon Jhad Beauty.

        Le Salon Jhad Beauty est seul autorisé (directement ou par l'effet de licences ou d'autorisations) à utiliser les composants comprenant le Site, les noms de domaine, les marques, etc., ainsi que les images éditoriales et le contenu qui y sont reproduits.

        L'utilisation de tout ou partie du Site, notamment par le téléchargement, la reproduction, la transmission, la représentation ou la diffusion à des fins autres que la consultation et l'utilisation du Site par l'internaute sur une base personnelle et privée avec un objectif non commercial est strictement interdite. Toute violation expose l'auteur aux sanctions prévues à la fois par le Code de la propriété intellectuelle, notamment en ce qui concerne la violation du droit d'auteur et du droit des marques, et par le Code civil en matière de responsabilité civile.

        Tout contenu, site Web ou autre ayant un lien hypertexte qui relie au Site ou à l'un des composants qui le composent ne sont pas sous le contrôle de Le Salon Jhad Beauty, et ce dernier décline par conséquent toute responsabilité (en particulier la responsabilité éditoriale) concernant l'accès à ces sites et leur contenu.



        DISPONIBILITÉ

        Le Salon Jhad Beauty s'efforce autant que possible de garder le site accessible en permanence, mais n'est pas tenu d'y parvenir. Le Salon Jhad Beauty peut donc suspendre l'accès au Site, notamment pour des raisons de maintenance ou de mise à jour, ou pour toutes les autres raisons, notamment techniques ou éditoriales, sans préavis ou informations préalables aux internautes, sans qu'il soit possible pour le Salon Jhad Beauty ou ses propriétaires et partenaires d'entretien d'être tenus responsables des conséquences de ces interruptions, soit pour les internautes ou pour les tiers. En outre, Le Salon Jhad Beauty ne peut être tenu responsable si les internautes ne parviennent pas à accéder à tout ou partie du Site en raison d'une défaillance technique ou d'un problème, notamment s'il s'agit:

        D’une faute et/ou une surcharge de l’internet,

        D’une faute des fournisseurs d'accès à Internet,

        D’une erreur humaine ou une erreur d'origine électrique ou mécanique,

        De toute intervention malveillante involontaire et incontrôlable,

        De tous les dysfonctionnements logiciels ou matériels hors du contrôle raisonnable de Le Salon Jhad Beauty,

        D’un cas de force majeure.

        RESPONSABILITÉ

        Le Salon Jhad Beauty s'efforce de garantir, au mieux de ses capacités, l'exactitude et la mise à jour des informations diffusées sur le Site, qu’il se réserve le droit de modifier en tout temps et sans préavis.

        Cependant, Le Salon Jhad Beauty ne peut garantir la justesse, l'exactitude et l'exhaustivité des informations mises à disposition sur le site; ces informations ne constituent ni une garantie ni une entreprise de la part de Le Salon Jhad Beauty à l'égard de l'internaute. En particulier, Le Salon Jhad Beauty ne peut être tenu responsable :

        •             pour toute inexactitude, erreur ou omission des informations téléchargées ou affichées;

        •             pour tout dommage résultant d'une interférence informatique par un tiers ayant conduit à une modification de l'information sur le site;

        •             et, en général, pour tout dommage, qu'il soit direct ou indirect, quelles que soient les causes, les origines, les natures et les conséquences de celles-ci, relatives à l'accès (ou à l'impossibilité d'accéder au Site), au contenu, à l'utilisation du Site et/ou au crédit accordé à toute information en provenance de celui-ci



        Vous vous engagez à fournir des informations exactes et actuelles au Salon Jhad Beauty et à maintenir ces informations à jour.
    </div>

{% endblock %}

{% block title %}

{% endblock %}

