
body{
    background-color: #FAFAFA;
}


.account-item{
    background-color: #d1d8e0;
    padding: 40px;
}
.account-item a{
    text-transform: uppercase;
    line-height: 40px;
    font-size: 13px;
    color: #4b6584;
    font-weight: bold;
    display: block;
}
.account-item a:hover{
    color: #778ca3;
    text-decoration: none;
}
.account-item img{
    width: 35px;
}

/**NAV BAR - LANDING PAGE DALLA*/

header {
    width: 100vw;
    padding: .5rem 1rem;
}

.navbar .navbar-nav .nav-link {
    color: grey;
    font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover {
    color: #AA968A;
}

.navbar .navbar-nav {
    margin-top: 0.5em;
}

.img-profil{
    width: 80px;
    height: 100px;
}

.btn-compte-nav-prenom{
    font-size: 12px;
}

.title-PageProduct{
    color: grey;
}
.contactSubTitle{
    font-size: 16px;
    font-weight: 900;
}


/* LARGE SCREENS */
@media only screen and (min-width: 960px) {
    .navbar {
        flex-direction: column; /* horizontal navbar */
    }
    .navbar .nav-item {
        padding: 0.5em 1em;
    }
}
/*
Galerie Anne
 */

 .block{
    display : flex;
    justify-content: center;
    
}

.galerie {
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
.img7, .imgart1,.imgart5, .imgart2, .imgart4, .img6 {
    height: 200px;
    width: 300px;}
.img7{
border: 2px solid black;
}
.imgart1{
    border: 2px solid darkred;
}
.imgart5{
    border: 2px solid darkorange;
}
.imgart2{
    border: 2px solid lightgreen;
}
.imgart4{
    border: 2px solid lightgrey;
}
.img6{
    border: 2px solid beige;
}


    /*
    Footer Anne version 3
     */
.footergeneral
{
margin-top: 22vh;
bottom: O;
}
.horaires, .adresse
{
    
    height: 145px;
    background-color : rgb(238, 227, 216);
    
    
       
}
.coordonnees
{
    height: 145px;
    background-color :rgb(238, 227, 216);
    
}
.facebooketinsta
{
    display: flex;
    justify-content: space-around;
    
}
.facebook, .instagram, .twitter
{
    height:60px;

}

.footer1, .footer2,.footer3   
{
 background-color:rgb(207, 196, 196);
 text-align: center;
}
li
{
    list-style: none;
}
.d-flex 
{
    justify-content: center; 
    
    
}
