<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid text-center" id="footer" data-toggle="collapse" data-target=".navbar-collapse.show">
        <h1>FOOTER</h1>
    </div>
</nav>