<div class="footergeneral">
<div class="row">
    <div class="col md-2">
        <section class="footer1">
            
        <div><B>Nos horaires</B>
        <div class="container">
                <ul class="horaires">
                
                    <li>lundi : 9h-20h</li>
                    <li>mardi : 9h-20h</li>
                    <li>mercredi : 9h-20h</li>
                    <li>jeudi : 9h-20h</li>
                    <li>vendredi : 9h-20h</li>
                    <li>samedi : 9h-20h</li>
                
                </ul>
            </div>
        </div>
       </section> 
    </div>
    <div class="col md-2">
        <section class="footer2">
            <div><B>Notre Adresse</B>
                <ul class="adresse">
                    <li>75003 Paris</li>
                    <li>18 rue Beaubourg</li>
            </ul>
            </div>
            
        </section>
            
    </div>
    <div class="col md-2">
        <section class="footer3">
            <div><B>Nous Contacter</B></div>
            
            <div class="coordonnees">
                WhatsApp: <br>+33(0)6 78 76 89 99<br>LINE: @uld4532j
        </section>
    </div>    
</div>
    
</div>
<div class="row">

    <section class="d-flex btp">
        <a class="nav-link active footer4" href="{{  path('home_bookingPolicy') }}"><B>BOOKING POLICY</B></a>
        <a class="nav-link active footer4" href="{{  path('home_termsOfService') }}" ><B>TERMS OF SERVICE</B></a>
        <a class="nav-link active footer4" href="{{  path('home_privacyPolicy') }}" ><B>PRIVACY POLICY</B></a>

</div>

    </section>

</div>